$quicksand: 'Quicksand', sans-serif;

$background: #151c26;
$primary-color: #2D3142;
$secondary-color: #4F5D75;
$white: #fff;

$pink: #b460a8;
$mildGrey: #b1acac;
$grey: #2e3d52;
$strongGrey: #1c212a;
$backgroundGrey: #131922;