.alice-carousel {
    position: relative;

    .alice-carousel__stage-item {
        padding-right: 30px;
    }

    .alice-carousel__dots {
        margin: 10px 3px 5px;

        .alice-carousel__dots-item.__active {
            background-color: $pink;
        }
    }

    .alice-carousel__prev-btn {
        .alice-carousel__prev-btn-wrapper {
            position: absolute;
            top: 27%;
            left: -50px;

            .alice-carousel__prev-btn-item {
                transition: all 0.3s ease;
                color: $pink;
                font-size: 2rem;
            }

            .alice-carousel__prev-btn-item:hover {
                color: #dda6d5;
            }
        }

        @media (max-width: 1550px) {
            display: none;
        }
    }

    .alice-carousel__next-btn {
        .alice-carousel__next-btn-wrapper {
            position: absolute;
            top: 27%;
            right: -50px;
        }

        .alice-carousel__next-btn-item {
            transition: all 0.3s ease;
            color: $pink;
            font-size: 2rem;
        }

        .alice-carousel__next-btn-item:hover {
            color: #dda6d5;
        }

        @media (max-width: 1550px) {
            display: none;
        }
    }

    // @media (max-width: 1550px) {
    //     padding: 25px;
    // }
}
