.mediaCard {
    width: 100%;

    .image {
        position: relative;
        transition: all 0.3s ease;
        

        img {
            width: 100%;
            display: block;
            border-radius: 5px;
            min-height: 278px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            border: 2.5px solid transparent;
            cursor: pointer;
        }

        .controls {
            position: absolute;
            display: flex;
            background: rgba(0, 0, 0, 0.7);
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            transition: all 0.3s ease;
            padding: 5px 7px;
            opacity: 0;

            svg {
                color: $creamWhite;
                background-color: transparent;
                border: none;
                transition: all 0.3s ease;
                font-size: 1.35rem;
                margin: 0 5px;

                &:hover {
                    color: $pink;
                    cursor: pointer;
                }
            }

            svg.added {
                color: $pink;
            }
        }
    }

    .image:hover {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
        transform: scale(1.05);
        .overlay {
            border: 2.5px solid rgba(180, 96, 168, 0.8);
        }
        .controls {
            opacity: 1;
        }
    }

    .info {
        small {
            color: $mildGrey;
        }

        .title {
            margin-top: 13px;
            font-weight: 500;
        }

        .originCountry {
            color: $mildGrey;
        }

        .character {
            font-size: 0.9rem;
            color: $mildGrey;
        }

        .rating {
            display: flex;
            align-items: center;
            color: $mildGrey;
            margin-top: 5px;

            .line {
                font-weight: 500;
                margin-right: 3px;
            }

            span {
                margin-right: 3px;
                font-weight: 600;
            }
        }

        .releaseDate {
            small {
                font-size: 0.95rem;
            }
        }
    }
}
