.popularTvShows {
    
    h3 {
        margin-top: -20px;
        // margin-bottom: 30px;
    }

    .headingRow {
        margin-top: 120px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: underline;
            color: $pink;
            margin-top: -20px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px;
    }
}