.popularTvShows {
    h3 {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px;
    }
}