.search {
    position: relative;

    input {
        width: 240px;
        padding: 7px;
        border-radius: 25px;
        // background-color: #2e3d52;
        // background-color: #36465c;
        // background-color: #324157;
        background-color: #36455c;
        outline: none;
        border: none;
        font-family: $quicksand;
        transition: all 0.2s ease;

        &[type=text] {
            padding-left: 35px;
            color: $creamWhite;
            font-size: .90rem;
        }

        &::placeholder {
            color: $mildGrey;
        }

        &:focus {
            box-shadow: 0 0 2px 2px rgb(180 96 168 / 70%);
            
            svg {
                color: $creamWhite;
            }
        }
    }

    svg {
        position: absolute;
        top: 5px;
        left: 8px;
        color: $mildGrey;
        font-size: 1.4rem;
        transition: all 0.2s ease;
    }

    svg.active {
        color: $creamWhite;
    }

    .spinner {
        position: absolute;
        top: 8px;
        right: 15px;
        width: 17px;
    }

    .results {
        position: absolute;
        top: 40px;
        left: 0;
        right: -2px;
        background-color: $grey;
        z-index: 10;
        border-radius: 5px;
    }
}
