.actor {
    margin-top: 50px;

    .mainRow {
        display: flex;

        .imageAndSocials {
            img {
                height: 100%;
                border-radius: 5px;
                max-width: 300px;
                max-height: 450px;
            }

            .links {
                svg {
                    color: $white;
                    margin-top: 15px;
                    margin-right: 15px;
                    transition: all 0.2s ease;
                }

                svg:hover {
                    color: $pink;
                }

                svg.disabled {
                    color: $grey;
                }

                .disabled:hover {
                    color: $grey;
                }
            }
        }

        .info {
            margin-left: 6rem;
            width: 100%;

            .headingRow {
                display: flex;
                align-items: baseline;

                h1 {
                    font-weight: 500;
                }

                h2 {
                    font-weight: 300;
                    font-size: 1rem;
                    margin-left: 10px;
                }
            }

            .bioInfo {
                display: flex;
                align-items: center;
                padding: 10px 0;

                svg {
                    color: $pink;
                    margin-right: 5px;
                }

                p {
                    color: $creamWhite;
                }
            }

            .biography {
                margin: 30px 0;
                line-height: 1.45rem;
            }
        }
    }

    .knownForRow {
        border: none;
        border-top: 1px solid #2e3d52;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // .moviesHeader {
        //     margin-top: 40px;
        //     margin-bottom: 20px;
        // }

        // .tvsHeader {
        //     margin-top: 40px;
        //     margin-bottom: 20px;
        // }

        h3 {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px;
    }

    .adjustedMargins {
        margin-top: 60px;
    }
}
