.discoverTvShows {

    h3 {
        margin-bottom: 60px;
        margin-top: 50px;
        font-size: 1.25rem;
        // font-size: 1.35rem;
        // color: $pink;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px;
    }
    
}