.movie {
    .verticalLine {
        padding: 0 12px;
        font-weight: 600;
        color: $mildGrey;
    }

    .videoContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 580px;
        filter: brightness(85%);
        border-radius: 5px;

        img {
            width: 100%;
        }

        .playButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 7.5rem;
            color: $pink;
            opacity: 0.7;
            filter: blur(0.9px);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .playButton:hover {
            opacity: 0.9;
            filter: blur(0.65px);
        }
    }

    .main {
        .headingRow {
            display: flex;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 12px;

            .headingTitle {
                font-size: 2.3rem;
                color: $white;
                letter-spacing: 2px;
            }

            .smallHeadingTitle {
                font-size: 2.25rem;
                color: $white;
            }

            .adjustedMargins {
                margin-right: 20px;
            }

            // .isAddedWatchlist {
            //     background-color: #e74c3c;
            // }

            .verticalLine {
                padding: 0 25px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-right: 5px;
                }
            }
        }

        .details {
            .detailRow {
                display: flex;
                align-items: center;
                color: $mildGrey;

                .rating {
                    margin-right: 7px;
                    font-weight: 600;
                    // font-size: 1.1rem;
                }

                a {
                    color: $pink;
                }
            }

            .description {
                // max-width: 900px;
                margin: 60px 0;
            }
        }

        .crew {
            h3 {
                margin: 10px 0;
            }

            .crewRow {
                display: flex;
                // justify-content: space-around;

                .crewRowItem {
                    margin-right: 40px;

                    .name {
                        margin: 3px 0;
                        color: $pink;
                    }

                    .job {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .cast {
            .headingRow {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 10px;
            }

            .grid {
                .castItem {
                    .name {
                        margin-top: 13px;
                    }

                    .character {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .recommendedMovies {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 100px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }
        }

        .similarMovies {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 50px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }
        }
    }
}
