.profile {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    justify-content: center;
    margin-top: 30px;
    // min-height: 100vh;
    

    .brand {
        text-decoration: none;
        color: $white;
        display: flex;
        align-items: center;
        // transition: all 0.3s ease;
        font-size: 0.85rem;
        margin: 35px 0;

        .icon {
            font-size: 3rem;
            color: $pink;
        }

        h1 {
            margin-left: 5px;
            font-weight: 600;
        }
    }

    .message {
        margin-bottom: 30px;
        width: 420px;
        text-align: center;
        font-weight: 500;
    }

    .card {
        border: 2px solid $grey;
        min-width: 420px;
        min-height: 380px;
        border-radius: 5px;
        color: $creamWhite;
        padding: 35px;

        h3 {
            font-size: 2rem;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 35px;
            text-align: center;
        }

        .inputGroup {
            margin-bottom: 16px;

            label {
                display: block;
                margin-bottom: 7px;
            }

            input {
                width: 100%;
                padding: 7px;
                border-radius: 5px;
                background-color: $grey;
                outline: none;
                border: none;
                font-family: $quicksand;
                transition: all 0.2s ease;

                &[type="email"],
                &[type="text"],
                &[type="password"] {
                    padding-left: 9px;
                    color: $creamWhite;
                    font-size: 1rem;
                }

                &::placeholder {
                    color: $mildGrey;
                }

                &:focus {
                    background-color: #36455c;
                    box-shadow: 0 0 2px 2px rgb(180 96 168 / 70%);

                    svg {
                        color: $creamWhite;
                    }
                }
            }
        }

        .formButton {
            width: 100%;
            border: none;
            background-color: $pink;
            cursor: pointer;
            font-weight: 600;
            margin-top: 70px;
            font-family: $quicksand;

            &:hover {
                background-color: #c97cbd;
            }
        }

        .forgotPassword {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 10px;

            a {
                color: $pink;
            }
        }

        @media(max-width: 566px) {
            min-width: 350px;
        }


        @media(max-width: 460px) {
            min-width: 300px;
            padding: 20px;
        }

        @media(max-width: 375px) {
            min-width: 250px;
        }
    }

    .needAnAccount {
        margin: 20px 0;

        a {
            color: $pink;
        }
    }
}
