.controlContent {
    display: flex;
    align-items: center;
    color: $pink;
    cursor: pointer;

    p {
        font-weight: 600;
        text-decoration: underline;
    }

    svg {
        font-size: 2.3rem;
    }

    svg.shrink {
        transform: rotateX(180deg);
        transition: all 0.3s ease;
    }

    svg.expand {
        transition: all 0.3s ease;
    }
}
