.mediaCard {
    width: 100%;

    .image {
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;

        img {
            width: 100%;
            display: block;
            border-radius: 5px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            border: 2.5px solid transparent;
        }
    }

    .image:hover {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
        transform: scale(1.05);
        .overlay {
            border: 2.5px solid rgba(180, 96, 168, 0.8);
        }
    }

    .info {
        small {
            color: $mildGrey;
        }

        .title {
            margin-top: 17px;
            font-weight: 500;
        }

        .originCountry {
            color: $mildGrey;
        }

        .rating {
            display: flex;
            align-items: center;
            color: $mildGrey;
            margin-top: 5px;

            .line {
                font-weight: 500;
                margin-right: 3px;
            }

            span {
                margin-right: 3px;
                font-weight: 600;
            }
        }

        .releaseDate {
            small {
                font-size: 0.95rem;
            }
        }
    }
}
