.movie {
    .videoContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 580px;
        filter: brightness(85%);
        border-radius: 5px;

        img {
            width: 100%;
        }

        .playButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 7.5rem;
            color: $pink;
            opacity: 0.7;
            filter: blur(0.9px);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .playButton:hover {
            opacity: 0.9;
            filter: blur(0.65px);
        }
    }

    .main {
        .headingTitle {
            margin-top: 25px;
            // margin-bottom: 5px;
            color: $white;
            letter-spacing: 2px;
        }

        .details {
            .detailRow {
                display: flex;
                align-items: center;
                color: $mildGrey;

                .rating {
                    margin-right: 7px;
                    font-weight: 500;
                    // font-size: 1.1rem;
                }

                .verticalLine {
                    padding: 0 12px;
                    font-weight: 600;
                }

                a {
                    color: $pink;
                }
            }

            .description {
                // max-width: 900px;
                margin: 60px 0;
            }
        }

        .crew {
            h3 {
                margin: 10px 0;
            }

            .crewRow {
                display: flex;
                // justify-content: space-around;

                .crewRowItem {
                    margin-right: 40px;

                    .name {
                        margin: 3px 0;
                        color: $pink;
                    }

                    .job {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .cast {
            .headingRow {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 10px;

                .controlContent {
                    display: flex;
                    align-items: center;
                    color: $pink;
                    cursor: pointer;

                    p {
                        font-weight: 600;
                        text-decoration: underline;
                    }

                    svg {
                        font-size: 2.3rem;
                    }

                    svg.shrink {
                        transform: rotateX(180deg);
                        transition: all 0.3s ease;
                    }

                    svg.expand {
                        transition: all 0.3s ease;
                    }
                }
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;

                .castItem {

                    .name {
                        margin-top: 13px;
                    }

                    .character {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .recommendedMovies {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 100px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;
            }
        }

        .similarMovies {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 50px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;
            }
        }
    }
}
