.nowPlayingMovies {
    h3 {
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 50px;
    }

    a {
        text-decoration: none;
    }
}
