.tv {
    .videoContainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 580px;
        filter: brightness(85%);
        border-radius: 5px;

        img {
            width: 100%;
        }

        .playButton {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 7.5rem;
            color: $pink;
            opacity: 0.7;
            filter: blur(0.9px);
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .playButton:hover {
            opacity: 0.9;
            filter: blur(0.65px);
        }
    }

    .main {
        .headingRow {
            margin-top: 25px;
            display: flex;
            // align-items: center;
            align-items: baseline;

            .headingTitle {
                color: $white;
                letter-spacing: 2px;
            }

            .tvSeries {
                margin-left: 10px;
                font-weight: 500;
                font-size: .9rem;
            }
        }

        .details {
            .detailRow {
                display: flex;
                align-items: center;
                margin-bottom: 2px;
                color: $mildGrey;

                .rating {
                    margin-right: 7px;
                    font-weight: 500;
                    // font-size: 1.1rem;
                }

                .verticalLine {
                    padding: 0 12px;
                    font-weight: 600;
                }

                a {
                    color: $pink;
                }

                .whiteLabel {
                    color: $white;
                }

                .boldSpan {
                    font-weight: 700;
                }
            }

            .description {
                // max-width: 900px;
                margin: 70px 0;
            }
        }

        .createdBy {
            margin: 50px 0;

            h3 {
                margin: 10px 0;
            }

            .createdByRow {
                display: flex;
                // justify-content: space-around;

                .crewRowItem {
                    margin-right: 40px;

                    .name {
                        margin: 3px 0;
                        color: $pink;
                    }

                    .job {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .crew {
            h3 {
                margin: 10px 0;
            }

            .crewRow {
                display: flex;
                // justify-content: space-around;

                .crewRowItem {
                    margin-right: 40px;

                    .name {
                        margin: 3px 0;
                        color: $pink;
                    }

                    .job {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .cast {
            .headingRow {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 10px;

                .controlContent {
                    display: flex;
                    align-items: center;
                    color: $pink;
                    cursor: pointer;

                    p {
                        font-weight: 600;
                        text-decoration: underline;
                    }

                    svg {
                        font-size: 2.3rem;
                    }

                    svg.shrink {
                        transform: rotateX(180deg);
                        transition: all 0.3s ease;
                    }

                    svg.expand {
                        transition: all 0.3s ease;
                    }
                }
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;

                .castItem {
                    .image {
                        position: relative;
                        transition: all 0.3s ease;
                        cursor: pointer;

                        img {
                            width: 100%;
                            display: block;
                            border-radius: 5px;
                        }

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.3s ease;
                            border: 2.5px solid transparent;
                        }
                    }

                    .image:hover {
                        box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
                        // transform: scale(1.05);
                        .overlay {
                            border: 2.5px solid rgba(180, 96, 168, 0.8);
                        }
                    }

                    .name {
                        margin-top: 13px;
                    }

                    .character {
                        color: $mildGrey;
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .recommendedTvs {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 100px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;
            }
        }

        .similarTvs {
            border: none;
            border-top: 1px solid $grey;
            margin-top: 50px;

            h3 {
                margin-top: 35px;
                margin-bottom: 25px;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-gap: 50px;
            }
        }
    }
}
