@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #131922;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: #fff;
  background: linear-gradient(180deg, #2e3d52 0%, #1c212a 50%, #131922 100%);
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  text-transform: uppercase;
  color: #b460a8;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.header {
  padding: 50px 0;
  font-size: 1.1rem;
}
.header .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header .headerContainer .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.header .headerContainer .brand .icon {
  font-size: 3rem;
}
.header .headerContainer .brand h1 {
  margin-left: 10px;
}
.header .headerContainer .brand:hover {
  color: #b460a8;
}
.header .headerContainer .links {
  display: flex;
}
.header .headerContainer .links li {
  list-style: none;
}
.header .headerContainer .links li a {
  text-decoration: none;
  color: #fff;
  margin-left: 45px;
  transition: all 0.3s ease;
}
.header .headerContainer .links li a:hover {
  color: #b460a8;
}

.home {
  z-index: 5;
}

.carousel {
  position: relative;
  filter: brightness(70%);
  height: 580px;
  border-radius: 5px;
}
.carousel .title {
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 5px 5px black;
  z-index: 10;
  letter-spacing: 3px;
}
.carousel .control-arrow {
  padding: 30px !important;
  color: #b460a8 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #b460a8 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #b460a8 !important;
}

.nowPlayingMovies h3 {
  margin-top: 120px;
  margin-bottom: 40px;
}
.nowPlayingMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.nowPlayingMovies a {
  text-decoration: none;
}

.mediaCard {
  width: 100%;
}
.mediaCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.mediaCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.mediaCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.mediaCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.mediaCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.mediaCard .info small {
  color: #b1acac;
}
.mediaCard .info .title {
  margin-top: 17px;
  font-weight: 500;
}
.mediaCard .info .originCountry {
  color: #b1acac;
}
.mediaCard .info .rating {
  display: flex;
  align-items: center;
  color: #b1acac;
  margin-top: 5px;
}
.mediaCard .info .rating .line {
  font-weight: 500;
  margin-right: 3px;
}
.mediaCard .info .rating span {
  margin-right: 3px;
  font-weight: 600;
}
.mediaCard .info .releaseDate small {
  font-size: 0.95rem;
}

.trendingPersons {
  margin: 100px 0;
}
.trendingPersons h3 {
  margin-top: 70px;
  margin-bottom: 40px;
}
.trendingPersons .personCardAlice {
  width: 100%;
}
.trendingPersons .personCardAlice .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.trendingPersons .personCardAlice .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.trendingPersons .personCardAlice .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.trendingPersons .personCardAlice .image:hover {
  box-shadow: 0 5px 25px black;
}
.trendingPersons .personCardAlice .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.trendingPersons .personCardAlice p {
  margin-top: 17px;
  font-weight: 500;
}
.trendingPersons .personCardAlice small {
  color: #b1acac;
}

.alice-carousel .alice-carousel__stage-item {
  padding-right: 30px;
}
.alice-carousel .alice-carousel__dots {
  margin: 10px 3px 5px;
}
.alice-carousel .alice-carousel__dots .alice-carousel__dots-item.__active {
  background-color: #b460a8;
}

.topRatedMovies h3 {
  margin-top: -20px;
  margin-bottom: 30px;
}
.topRatedMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.popularTvShows h3 {
  margin-top: -20px;
  margin-bottom: 30px;
}
.popularTvShows .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.tvCard {
  width: 100%;
}
.tvCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.tvCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.tvCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.tvCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.tvCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}

.watchlist {
  /* z-index: 10;
  margin-top: -400px; */
}

.movie .videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 580px;
  filter: brightness(85%);
  border-radius: 5px;
}
.movie .videoContainer img {
  width: 100%;
}
.movie .videoContainer .title {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.9rem;
  font-weight: 500;
  text-shadow: 0px 5px 5px black;
  z-index: 10;
  letter-spacing: 3px;
  text-align: center;
}
.movie .videoContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #b460a8;
  opacity: 0.7;
  filter: blur(0.9px);
  cursor: pointer;
  transition: all 0.3s ease;
}
.movie .videoContainer .playButton:hover {
  opacity: 0.9;
  filter: blur(0.65px);
}
.movie .main .headingTitle {
  margin-top: 60px;
  color: #b460a8;
  letter-spacing: 2px;
  text-shadow: 0px 1px 5px black;
}

footer {
  margin-top: 120px;
  padding: 60px;
  border: none;
  border-top: 1px solid #2e3d52;
}
footer a {
  color: #b460a8;
}

/*# sourceMappingURL=style.css.map */
