@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #131922;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: #fff;
  background: linear-gradient(180deg, #2e3d52 0%, #1c212a 50%, #131922 100%);
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #b460a8;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.button {
  background-color: #b460a8;
  border-radius: 5px;
  padding: 10px 20px;
  color: #e2e8f0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #c97cbd;
}

.mediaNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.fourOhFour {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourOhFour img {
  width: 700px;
}

.header {
  padding: 50px 0;
}
.header .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header .headerContainer .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.header .headerContainer .brand .icon {
  font-size: 3rem;
}
.header .headerContainer .brand h1 {
  margin-left: 10px;
}
.header .headerContainer .brand:hover {
  color: #b460a8;
}
.header .headerContainer .links {
  display: flex;
  align-items: center;
}
.header .headerContainer .links li {
  list-style: none;
  margin-left: 45px;
}
.header .headerContainer .links li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.header .headerContainer .links li a:hover {
  color: #b460a8;
}
.header .headerContainer .links li .menuItem {
  position: relative;
}
.header .headerContainer .links li .menuItem .fakeLink {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .headerContainer .links li .menuItem .fakeLink:hover {
  color: #b460a8;
}
.header .headerContainer .links li .menuItem .dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 10;
  background-color: #1c212a;
  top: 30px;
  width: 180px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #b460a8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.95rem;
}
.header .headerContainer .links li .menuItem .dropdown a:first-child {
  margin-top: 10px;
}
.header .headerContainer .links li .menuItem .dropdown a {
  padding: 10px 15px;
}
.header .headerContainer .links li .menuItem .dropdown a:hover {
  background-color: #2e3d52;
}
.header .headerContainer .links li .menuItem .dropdown.castCrew {
  width: 165px;
}
.header .headerContainer .links li .menuItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.header .headerContainer .links .search {
  margin-left: 18px;
}

.home {
  z-index: 5;
}

.carousel {
  position: relative;
  filter: brightness(90%);
  height: 580px;
  border-radius: 5px;
}
.carousel .title {
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 5px 5px black;
  z-index: 10;
  letter-spacing: 3px;
}
.carousel .control-arrow {
  padding: 30px !important;
  color: #b460a8 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #b460a8 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #b460a8 !important;
}

.nowPlayingMovies .headingRow {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nowPlayingMovies .headingRow a {
  text-decoration: underline;
  color: #b460a8;
}
.nowPlayingMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.nowPlayingMovies a {
  text-decoration: none;
}

.mediaCard {
  width: 100%;
}
.mediaCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.mediaCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.mediaCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.mediaCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.mediaCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.mediaCard .info small {
  color: #b1acac;
}
.mediaCard .info .title {
  margin-top: 17px;
  font-weight: 500;
}
.mediaCard .info .originCountry {
  color: #b1acac;
}
.mediaCard .info .character {
  font-size: 0.9rem;
  color: #b1acac;
}
.mediaCard .info .rating {
  display: flex;
  align-items: center;
  color: #b1acac;
  margin-top: 5px;
}
.mediaCard .info .rating .line {
  font-weight: 500;
  margin-right: 3px;
}
.mediaCard .info .rating span {
  margin-right: 3px;
  font-weight: 600;
}
.mediaCard .info .releaseDate small {
  font-size: 0.95rem;
}

.trendingPersons {
  margin: 100px 0;
}
.trendingPersons h3 {
  margin-top: 70px;
  margin-bottom: 40px;
}
.trendingPersons .personCardAlice {
  width: 100%;
}
.trendingPersons .personCardAlice .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.trendingPersons .personCardAlice .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.trendingPersons .personCardAlice .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.trendingPersons .personCardAlice .image:hover {
  box-shadow: 0 5px 25px black;
}
.trendingPersons .personCardAlice .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.trendingPersons .personCardAlice p {
  margin-top: 17px;
  font-weight: 500;
}
.trendingPersons .personCardAlice small {
  color: #b1acac;
}

.alice-carousel {
  position: relative;
}
.alice-carousel .alice-carousel__stage-item {
  padding-right: 30px;
}
.alice-carousel .alice-carousel__dots {
  margin: 10px 3px 5px;
}
.alice-carousel .alice-carousel__dots .alice-carousel__dots-item.__active {
  background-color: #b460a8;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper {
  position: absolute;
  top: 27%;
  left: -50px;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item {
  transition: all 0.3s ease;
  color: #b460a8;
  font-size: 2rem;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item:hover {
  color: #dda6d5;
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper {
  position: absolute;
  top: 27%;
  right: -50px;
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item {
  transition: all 0.3s ease;
  color: #b460a8;
  font-size: 2rem;
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item:hover {
  color: #dda6d5;
}

.topRatedMovies h3 {
  margin-top: -20px;
  margin-bottom: 30px;
}
.topRatedMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.popularTvShows h3 {
  margin-top: -20px;
}
.popularTvShows .headingRow {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popularTvShows .headingRow a {
  text-decoration: underline;
  color: #b460a8;
  margin-top: -20px;
}
.popularTvShows .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.tvCard {
  width: 100%;
}
.tvCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.tvCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.tvCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.tvCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.tvCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}

.watchlist {
  /* z-index: 10;
  margin-top: -400px; */
}

.movie .videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 580px;
  filter: brightness(85%);
  border-radius: 5px;
}
.movie .videoContainer img {
  width: 100%;
}
.movie .videoContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #b460a8;
  opacity: 0.7;
  filter: blur(0.9px);
  cursor: pointer;
  transition: all 0.3s ease;
}
.movie .videoContainer .playButton:hover {
  opacity: 0.9;
  filter: blur(0.65px);
}
.movie .main .headingTitle {
  margin-top: 25px;
  color: #fff;
  letter-spacing: 2px;
}
.movie .main .details .detailRow {
  display: flex;
  align-items: center;
  color: #b1acac;
}
.movie .main .details .detailRow .rating {
  margin-right: 7px;
  font-weight: 500;
}
.movie .main .details .detailRow .verticalLine {
  padding: 0 12px;
  font-weight: 600;
}
.movie .main .details .detailRow a {
  color: #b460a8;
}
.movie .main .details .description {
  margin: 60px 0;
}
.movie .main .crew h3 {
  margin: 10px 0;
}
.movie .main .crew .crewRow {
  display: flex;
}
.movie .main .crew .crewRow .crewRowItem {
  margin-right: 40px;
}
.movie .main .crew .crewRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.movie .main .crew .crewRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.movie .main .cast .headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.movie .main .cast .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.movie .main .cast .grid .castItem .name {
  margin-top: 13px;
}
.movie .main .cast .grid .castItem .character {
  color: #b1acac;
  font-size: 0.9rem;
}
.movie .main .recommendedMovies {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
}
.movie .main .recommendedMovies h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.movie .main .recommendedMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.movie .main .similarMovies {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 50px;
}
.movie .main .similarMovies h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.movie .main .similarMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.tv .videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 580px;
  filter: brightness(85%);
  border-radius: 5px;
}
.tv .videoContainer img {
  width: 100%;
}
.tv .videoContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #b460a8;
  opacity: 0.7;
  filter: blur(0.9px);
  cursor: pointer;
  transition: all 0.3s ease;
}
.tv .videoContainer .playButton:hover {
  opacity: 0.9;
  filter: blur(0.65px);
}
.tv .main .headingRow {
  margin-top: 25px;
  display: flex;
  align-items: baseline;
}
.tv .main .headingRow .headingTitle {
  color: #fff;
  letter-spacing: 2px;
}
.tv .main .headingRow .tvSeries {
  margin-left: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.tv .main .details .detailRow {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  color: #b1acac;
}
.tv .main .details .detailRow .rating {
  margin-right: 7px;
  font-weight: 500;
}
.tv .main .details .detailRow .verticalLine {
  padding: 0 12px;
  font-weight: 600;
}
.tv .main .details .detailRow a {
  color: #b460a8;
}
.tv .main .details .detailRow .whiteLabel {
  color: #fff;
}
.tv .main .details .detailRow .boldSpan {
  font-weight: 700;
}
.tv .main .details .description {
  margin: 70px 0;
}
.tv .main .createdBy {
  margin: 50px 0;
}
.tv .main .createdBy h3 {
  margin: 10px 0;
}
.tv .main .createdBy .createdByRow {
  display: flex;
}
.tv .main .createdBy .createdByRow .crewRowItem {
  margin-right: 40px;
}
.tv .main .createdBy .createdByRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.tv .main .createdBy .createdByRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .crew h3 {
  margin: 10px 0;
}
.tv .main .crew .crewRow {
  display: flex;
}
.tv .main .crew .crewRow .crewRowItem {
  margin-right: 40px;
}
.tv .main .crew .crewRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.tv .main .crew .crewRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .cast .headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.tv .main .cast .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.tv .main .cast .grid .castItem .name {
  margin-top: 13px;
}
.tv .main .cast .grid .castItem .character {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .recommendedTvs {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
}
.tv .main .recommendedTvs h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.tv .main .recommendedTvs .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.tv .main .similarTvs {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 50px;
}
.tv .main .similarTvs h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.tv .main .similarTvs .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.personCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.personCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.personCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.personCard .image:hover {
  box-shadow: 0 5px 25px black;
}
.personCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.personCard .name {
  margin-top: 13px;
}
.personCard .name.bold {
  font-weight: 600;
}
.personCard .character {
  color: #b1acac;
  font-size: 0.9rem;
}

.actor {
  margin-top: 50px;
}
.actor .mainRow {
  display: flex;
}
.actor .mainRow .imageAndSocials img {
  height: 100%;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
}
.actor .mainRow .imageAndSocials .links svg {
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
  transition: all 0.2s ease;
}
.actor .mainRow .imageAndSocials .links svg:hover {
  color: #b460a8;
}
.actor .mainRow .imageAndSocials .links svg.disabled {
  color: #2e3d52;
}
.actor .mainRow .imageAndSocials .links .disabled:hover {
  color: #2e3d52;
  cursor: not-allowed;
}
.actor .mainRow .info {
  margin-left: 6rem;
  width: 100%;
}
.actor .mainRow .info .headingRow {
  display: flex;
  align-items: baseline;
}
.actor .mainRow .info .headingRow h1 {
  font-weight: 500;
}
.actor .mainRow .info .headingRow h2 {
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10px;
}
.actor .mainRow .info .bioInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.actor .mainRow .info .bioInfo svg {
  color: #b460a8;
  margin-right: 5px;
}
.actor .mainRow .info .bioInfo p {
  color: #e2e8f0;
}
.actor .mainRow .info .biography {
  margin: 30px 0;
  line-height: 1.45rem;
}
.actor .knownForRow {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actor .knownForRow h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.actor .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.actor .adjustedMargins {
  margin-top: 60px;
}

.controlContent {
  display: flex;
  align-items: center;
  color: #b460a8;
  cursor: pointer;
}
.controlContent p {
  font-weight: 600;
  text-decoration: underline;
}
.controlContent svg {
  font-size: 2.3rem;
}
.controlContent svg.shrink {
  transform: rotateX(180deg);
  transition: all 0.3s ease;
}
.controlContent svg.expand {
  transition: all 0.3s ease;
}

.crew {
  margin-top: 50px;
}
.crew .mainRow {
  display: flex;
}
.crew .mainRow .imageAndSocials img {
  height: 100%;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
}
.crew .mainRow .imageAndSocials .links svg {
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
  transition: all 0.2s ease;
}
.crew .mainRow .imageAndSocials .links svg:hover {
  color: #b460a8;
}
.crew .mainRow .imageAndSocials .links svg.disabled {
  color: #2e3d52;
}
.crew .mainRow .imageAndSocials .links .disabled:hover {
  color: #2e3d52;
  cursor: not-allowed;
}
.crew .mainRow .info {
  margin-left: 6rem;
  width: 100%;
}
.crew .mainRow .info h1 {
  font-weight: 500;
}
.crew .mainRow .info .bioInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.crew .mainRow .info .bioInfo svg {
  color: #b460a8;
  margin-right: 5px;
}
.crew .mainRow .info .bioInfo p {
  color: #e2e8f0;
}
.crew .mainRow .info .biography {
  margin: 30px 0;
  line-height: 1.45rem;
}
.crew .knownForRow {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crew .knownForRow h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.crew .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
.crew .adjustedMargins {
  margin-top: 60px;
}

.search {
  position: relative;
}
.search input {
  width: 240px;
  padding: 7px;
  border-radius: 25px;
  background-color: #36455c;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease;
}
.search input[type=text] {
  padding-left: 35px;
  color: #e2e8f0;
  font-size: 0.9rem;
}
.search input::placeholder {
  color: #b1acac;
}
.search input:focus {
  box-shadow: 0 0 2px 2px rgba(180, 96, 168, 0.7);
}
.search input:focus svg {
  color: #e2e8f0;
}
.search svg {
  position: absolute;
  top: 5px;
  left: 8px;
  color: #b1acac;
  font-size: 1.4rem;
  transition: all 0.2s ease;
}
.search svg.active {
  color: #e2e8f0;
}
.search .spinner {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 17px;
}
.search .results {
  position: absolute;
  top: 40px;
  left: 0;
  right: -2px;
  background-color: #2e3d52;
  z-index: 10;
  border-radius: 5px;
}

.resultCard a {
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
}
.resultCard .row {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #808080;
  padding: 12px;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}
.resultCard .row img {
  border-radius: 5px;
}
.resultCard .row p {
  margin-left: 10px;
}
.resultCard .row:hover {
  background-color: #3b4b63;
}

.discoverMovies h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.discoverMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.nowPlayingMoviesPage h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.nowPlayingMoviesPage .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.topRatedMovies h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.topRatedMovies .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  text-align: start;
}

.directors h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.directors .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  text-align: start;
}

.actors h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.actors .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  text-align: start;
}

.discoverTvShows h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.discoverTvShows .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.popularTvShowsPage h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.popularTvShowsPage .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}

.topRatedTvShows h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.topRatedTvShows .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  text-align: start;
}

footer {
  margin-top: 120px;
  padding: 60px;
  border: none;
  border-top: 1px solid #2e3d52;
}
footer a {
  color: #b460a8;
}

/*# sourceMappingURL=style.css.map */
