@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #131922;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: #fff;
  background: linear-gradient(180deg, #2e3d52 0%, #1c212a 50%, #131922 100%);
  overflow-y: scroll;
}
body.overflow {
  overflow: hidden;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  .container {
    padding: 0px 75px;
  }
}
@media (max-width: 1353px) {
  .container {
    padding: 0px 100px;
    margin: unset;
  }
}
@media (max-width: 1015px) {
  .container {
    padding: 0px 120px;
  }
}
@media (max-width: 845px) {
  .container {
    padding: 0px 80px;
  }
}
@media (max-width: 715px) {
  .container {
    padding: 0px 55px;
  }
}
@media (max-width: 435px) {
  .container {
    padding: 0px 35px;
  }
}
@media (max-width: 386px) {
  .container {
    padding: 0px 25px;
  }
}

.footerWrapper {
  display: flex;
  min-height: calc(100vh - 170px);
  flex-direction: column;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
}
@media (max-width: 1353px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1140px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px;
  }
}
@media (max-width: 1015px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
  }
}
@media (max-width: 905px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  }
}
@media (max-width: 676px) {
  .grid {
    gap: 35px;
  }
}
@media (max-width: 615px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
  }
}
@media (max-width: 485px) {
  .grid {
    gap: 40px;
  }
}
@media (max-width: 410px) {
  .grid {
    gap: 20px;
  }
}
@media (max-width: 386px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.heading {
  font-weight: 600;
  text-transform: uppercase;
  color: #b460a8;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  letter-spacing: 1px;
}
@media (max-width: 375px) {
  .heading {
    font-size: 1rem;
  }
}

.button {
  background-color: #2e3d52;
  border-radius: 5px;
  padding: 9px 20px;
  color: #e2e8f0;
  font-weight: 600;
  min-width: 190px;
  font-size: 0.95rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #35465e;
}

.secondaryButton {
  background-color: #b1acac;
  color: #2e3d52;
}
.secondaryButton:hover {
  background-color: #cec6c6;
}

.mediaNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  font-weight: 700;
  font-size: 1.3rem;
}

.fourOhFour {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourOhFour img {
  width: 700px;
}

.header {
  position: sticky;
  top: 0;
  padding: 50px 0;
  background-color: transparent;
  z-index: 10;
  transition: all 0.21s ease-in-out;
}
.header.active {
  padding: 6px 0;
  background-color: #151c26;
  border-bottom: 1px solid #212c3b;
}
.header .headerContainer .bigHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header .headerContainer .bigHeader .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.header .headerContainer .bigHeader .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
.header .headerContainer .bigHeader .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
@media (max-width: 1353px) {
  .header .headerContainer .bigHeader .brand h1 {
    display: none;
  }
}
@keyframes easeInOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header .headerContainer .bigHeader .brand:hover .icon {
  animation: easeInOut 0.6s;
}
.header .headerContainer .bigHeader .links {
  display: flex;
  align-items: center;
}
.header .headerContainer .bigHeader .links li {
  list-style: none;
  margin-left: 45px;
}
.header .headerContainer .bigHeader .links li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.header .headerContainer .bigHeader .links li a:hover {
  color: #b460a8;
}
.header .headerContainer .bigHeader .links li .menuItem {
  position: relative;
}
.header .headerContainer .bigHeader .links li .menuItem .fakeLink {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header .headerContainer .bigHeader .links li .menuItem .fakeLink:hover {
  color: #b460a8;
}
.header .headerContainer .bigHeader .links li .menuItem .dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 10;
  background-color: #1c212a;
  top: 30px;
  width: 180px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #b460a8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.95rem;
}
.header .headerContainer .bigHeader .links li .menuItem .dropdown a:first-child {
  margin-top: 10px;
}
.header .headerContainer .bigHeader .links li .menuItem .dropdown a {
  padding: 10px 15px;
}
.header .headerContainer .bigHeader .links li .menuItem .dropdown a:hover {
  background-color: #2e3d52;
}
.header .headerContainer .bigHeader .links li .menuItem .dropdown.castCrew {
  width: 165px;
}
.header .headerContainer .bigHeader .links li .menuItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
.header .headerContainer .bigHeader .links li.watchlist, .header .headerContainer .bigHeader .links li.watchedlist {
  position: relative;
  z-index: 10;
}
.header .headerContainer .bigHeader .links li.watchlist .count, .header .headerContainer .bigHeader .links li.watchedlist .count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: -12px;
  background-color: #b460a8;
  width: 17px;
  height: 17px;
  font-weight: 700;
  border-radius: 50%;
  z-index: 1;
}
.header .headerContainer .bigHeader .links li.watchlist .count .value, .header .headerContainer .bigHeader .links li.watchedlist .count .value {
  color: #e2e8f0;
  font-size: 0.7rem;
}
.header .headerContainer .bigHeader .links .search {
  margin-left: 18px;
}
.header .headerContainer .bigHeader .links .account {
  position: relative;
}
.header .headerContainer .bigHeader .links .account .noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .headerContainer .bigHeader .links .account .circle {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #2e3d52;
  background-color: #e2e8f0;
  font-weight: 500;
  transition: all 0.3s ease;
}
.header .headerContainer .bigHeader .links .account .circle:hover {
  color: #b460a8;
  background-color: #c5cacf;
}
.header .headerContainer .bigHeader .links .account .profileMenu {
  position: absolute;
  top: 55px;
  right: 2px;
  width: 240px;
  color: #e2e8f0;
  background-color: #131922;
  z-index: 10;
}
.header .headerContainer .bigHeader .links .account .profileMenu .spike {
  position: absolute;
  right: 7px;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #131922;
}
.header .headerContainer .bigHeader .links .account .profileMenu .infoRow {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #2e3d52;
}
.header .headerContainer .bigHeader .links .account .profileMenu .infoRow .circle {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: #e2e8f0;
  background-color: #2e3d52;
  font-weight: 500;
}
.header .headerContainer .bigHeader .links .account .profileMenu .infoRow .info {
  margin-left: 15px;
  font-size: 0.85rem;
}
.header .headerContainer .bigHeader .links .account .profileMenu .infoRow .info .smallFont {
  font-size: 0.75rem;
}
.header .headerContainer .bigHeader .links .account .profileMenu .options .option {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  width: 100%;
}
.header .headerContainer .bigHeader .links .account .profileMenu .options .option:nth-child(1) {
  margin-top: 10px;
}
.header .headerContainer .bigHeader .links .account .profileMenu .options .option svg {
  margin-right: 8px;
}
.header .headerContainer .bigHeader .links .account .profileMenu .options .option:hover {
  color: #b460a8;
  background-color: #2e3d52;
}
.header .headerContainer .bigHeader .links .account .profileMenu.active {
  background-color: #212c3b;
}
.header .headerContainer .bigHeader .links .account .profileMenu.active .spike {
  border-bottom: 10px solid #212c3b;
}
.header .headerContainer .bigHeader .links .account .profileMenu.active .circle {
  background-color: #131922;
}
.header .headerContainer .bigHeader .links .account .profileMenu.active .infoRow {
  border-bottom: 1px solid #131922;
}
.header .headerContainer .bigHeader .links .account .profileMenu.active .options .option:hover {
  background-color: #2e3d52;
}
.header .headerContainer .bigHeader .links .account .noDisplay {
  display: none;
}
@media (max-width: 1273px) {
  .header .headerContainer .bigHeader {
    display: none;
  }
}
.header .headerContainer .smallHeader {
  display: none;
}
.header .headerContainer .smallHeader a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
@media (max-width: 375px) {
  .header .headerContainer .smallHeader a {
    font-size: 0.9rem;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .headerContainer .smallHeader .hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 3;
  }
  .header .headerContainer .smallHeader .hamburger div {
    width: 2rem;
    height: 0.12rem;
    background-color: #e2e8f0;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.2s linear;
  }
}
@media (max-width: 1273px) and (max-width: 386px) {
  .header .headerContainer .smallHeader .hamburger div {
    width: 1.6rem;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.close:nth-child(1) {
    transform: rotate(0);
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.open:nth-child(1) {
    transform: rotate(45deg);
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.close:nth-child(2) {
    transform: translateX(0);
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.open:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.close:nth-child(3) {
    transform: rotate(0);
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .hamburger div.open:nth-child(3) {
    transform: rotate(-45deg);
  }
}
@media (max-width: 1273px) and (max-width: 386px) {
  .header .headerContainer .smallHeader .hamburger {
    width: 1.6rem;
    height: 1.6rem;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .brand {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  .header .headerContainer .smallHeader .brand .icon {
    font-size: 3rem;
    color: #b460a8;
  }
}
@media (max-width: 1273px) and (max-width: 386px) {
  .header .headerContainer .smallHeader .brand .icon {
    font-size: 2.2rem;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .brand h1 {
    margin-left: 5px;
    font-weight: 600;
  }
}
@media (max-width: 1273px) and (max-width: 386px) {
  .header .headerContainer .smallHeader .brand h1 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1273px) {
  @keyframes easeInOut {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .brand:hover .icon {
    animation: easeInOut 0.6s;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .account {
    position: relative;
  }
  .header .headerContainer .smallHeader .account a:hover {
    color: #b460a8;
  }
  .header .headerContainer .smallHeader .account .noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .header .headerContainer .smallHeader .account .circle {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #2e3d52;
    background-color: #e2e8f0;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  .header .headerContainer .smallHeader .account .circle:hover {
    color: #b460a8;
    background-color: #c5cacf;
  }
}
@media (max-width: 1273px) and (max-width: 386px) {
  .header .headerContainer .smallHeader .account .circle {
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .account .profileMenu {
    position: absolute;
    top: 55px;
    right: 2px;
    width: 240px;
    color: #e2e8f0;
    background-color: #2e3d52;
    z-index: 10;
  }
  .header .headerContainer .smallHeader .account .profileMenu .spike {
    position: absolute;
    right: 7px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2e3d52;
  }
  .header .headerContainer .smallHeader .account .profileMenu .infoRow {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #1c212a;
  }
  .header .headerContainer .smallHeader .account .profileMenu .infoRow .circle {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: #e2e8f0;
    background-color: #1c212a;
    font-weight: 500;
  }
  .header .headerContainer .smallHeader .account .profileMenu .infoRow .info {
    margin-left: 15px;
    font-size: 0.85rem;
  }
  .header .headerContainer .smallHeader .account .profileMenu .infoRow .info .smallFont {
    font-size: 0.75rem;
  }
  .header .headerContainer .smallHeader .account .profileMenu .options .option {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header .headerContainer .smallHeader .account .profileMenu .options .option:nth-child(1) {
    margin-top: 10px;
  }
  .header .headerContainer .smallHeader .account .profileMenu .options .option svg {
    margin-right: 8px;
  }
  .header .headerContainer .smallHeader .account .profileMenu .options .option:hover {
    color: #b460a8;
    background-color: #2e3d52;
  }
}
@media (max-width: 1273px) {
  .header .headerContainer .smallHeader .account .noDisplay {
    display: none;
  }
}
.header .slideMenu {
  position: fixed;
  background-color: #131922;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.55s ease-in-out;
}
.header .slideMenu .slideMenuHeaderContainer {
  padding: 50px 0;
}
.header .slideMenu .slideMenuHeaderContainer .slideMenuRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand .icon {
    font-size: 2.2rem;
  }
}
.header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand h1 {
    font-size: 1.3rem;
  }
}
@keyframes easeInOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header .slideMenu .slideMenuHeaderContainer .slideMenuRow .brand:hover .icon {
  animation: easeInOut 0.6s;
}
.header .slideMenu .slideMenuHeaderContainer .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
}
.header .slideMenu .slideMenuHeaderContainer .column .search {
  margin: 0 auto;
}
.header .slideMenu .slideMenuHeaderContainer .column .search input {
  width: 500px;
}
@media (max-width: 920px) {
  .header .slideMenu .slideMenuHeaderContainer .column .search input {
    width: 300px;
  }
}
@media (max-width: 570px) {
  .header .slideMenu .slideMenuHeaderContainer .column .search input {
    width: 250px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainer .column .search input {
    width: 200px;
  }
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer {
  margin-top: 15px;
  width: 100%;
  height: 100vh;
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row {
  padding: 7px 115px;
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row p {
  font-size: 1.12rem;
  color: #e2e8f0;
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row p:first-child {
  margin-top: 10px;
  margin-bottom: 15px;
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row a {
  display: block;
  color: #b460a8;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}
@media (max-width: 715px) {
  .header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row {
    padding-left: 60px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainer .column .linksContainer .row {
    padding-left: 30px;
  }
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .rowBig {
  padding: 7px 115px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.12rem;
}
.header .slideMenu .slideMenuHeaderContainer .column .linksContainer .rowBig a {
  color: #e2e8f0;
}
@media (max-width: 715px) {
  .header .slideMenu .slideMenuHeaderContainer .column .linksContainer .rowBig {
    padding-left: 60px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainer .column .linksContainer .rowBig {
    padding-left: 30px;
  }
}
.header .slideMenu .slideMenuHeaderContainer.noDisplay {
  display: none;
}
.header .slideMenu .slideMenuHeaderContainerSmall {
  padding: 8px 0;
}
.header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand .icon {
    font-size: 2.2rem;
  }
}
.header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand h1 {
    font-size: 1.3rem;
  }
}
@keyframes easeInOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}
.header .slideMenu .slideMenuHeaderContainerSmall .slideMenuRow .brand:hover .icon {
  animation: easeInOut 0.6s;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .search {
  margin: 0 auto;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .search input {
  width: 500px;
}
@media (max-width: 920px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .search input {
    width: 300px;
  }
}
@media (max-width: 570px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .search input {
    width: 250px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .search input {
    width: 200px;
  }
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer {
  margin-top: 15px;
  width: 100%;
  height: 100vh;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row {
  padding: 7px 115px;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row p {
  font-size: 1.12rem;
  color: #e2e8f0;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row p:first-child {
  margin-top: 10px;
  margin-bottom: 15px;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row a {
  display: block;
  color: #b460a8;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}
@media (max-width: 715px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row {
    padding-left: 60px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .row {
    padding-left: 30px;
  }
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .rowBig {
  padding: 7px 115px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.12rem;
}
.header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .rowBig a {
  color: #e2e8f0;
}
@media (max-width: 715px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .rowBig {
    padding-left: 60px;
  }
}
@media (max-width: 386px) {
  .header .slideMenu .slideMenuHeaderContainerSmall .column .linksContainer .rowBig {
    padding-left: 30px;
  }
}
.header .slideMenu .slideMenuHeaderContainerSmall.noDisplay {
  display: none;
}
.header .slideMenu.slideMenuOpen {
  transform: translateX(0);
}
@media (max-width: 1273px) {
  .header.active {
    background-color: #b460a8;
    padding: 8px 0;
    border-bottom: none;
  }
  .header.active .smallHeader .icon {
    color: #752e6b !important;
  }
}

.home {
  z-index: 5;
}

.carousel {
  position: relative;
  filter: brightness(90%);
  height: 580px;
  border-radius: 5px;
}
.carousel .title {
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 5px 5px black;
  z-index: 10;
  letter-spacing: 3px;
}
@media (max-width: 1353px) {
  .carousel .title {
    top: 75%;
    width: 800px;
  }
}
@media (max-width: 1273px) {
  .carousel .title {
    top: 73%;
  }
}
@media (max-width: 1224px) {
  .carousel .title {
    top: 76%;
  }
}
@media (max-width: 1145px) {
  .carousel .title {
    top: 82%;
  }
}
@media (max-width: 1140px) {
  .carousel .title {
    top: 70%;
  }
}
@media (max-width: 1045px) {
  .carousel .title {
    top: 78%;
    font-size: 1.7rem;
  }
}
@media (max-width: 956px) {
  .carousel .title {
    width: 500px;
  }
}
@media (max-width: 910px) {
  .carousel .title {
    top: 70%;
  }
}
.carousel .control-arrow {
  padding: 30px !important;
  color: #b460a8 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #b460a8 !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #b460a8 !important;
}
@media (max-width: 1550px) {
  .carousel {
    height: 520px;
  }
}
@media (max-width: 1273px) {
  .carousel {
    height: 480px;
  }
}
@media (max-width: 1140px) {
  .carousel {
    height: 400px;
  }
}
@media (max-width: 910px) {
  .carousel {
    height: 300px;
  }
}
@media (max-width: 845px) {
  .carousel {
    display: none;
  }
}

.nowPlayingMovies .headingRow {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nowPlayingMovies .headingRow a {
  text-decoration: underline;
  color: #b460a8;
}
@media (max-width: 845px) {
  .nowPlayingMovies .headingRow {
    margin-top: 50px;
  }
}
.nowPlayingMovies a {
  text-decoration: none;
}

.mediaCard {
  width: 100%;
}
.mediaCard .image {
  position: relative;
  transition: all 0.3s ease;
}
.mediaCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
  min-height: 278px;
}
@media (max-width: 1550px) {
  .mediaCard .image img {
    min-height: 220px;
  }
}
@media (max-width: 386px) {
  .mediaCard .image img {
    text-align: center;
    width: unset;
    height: 80px;
  }
}
@media (max-width: 386px) {
  .mediaCard .image img {
    width: 200px;
    height: 300px;
  }
}
.mediaCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
  cursor: pointer;
}
.mediaCard .image .controls {
  position: absolute;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 7px;
  opacity: 0;
}
.mediaCard .image .controls svg {
  color: #e2e8f0;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.35rem;
  margin: 0 5px;
}
.mediaCard .image .controls svg:hover {
  color: #b460a8;
  cursor: pointer;
}
.mediaCard .image .controls svg.added {
  color: #b460a8;
}
.mediaCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.mediaCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.mediaCard .image:hover .controls {
  opacity: 1;
}
.mediaCard .info small {
  color: #b1acac;
}
.mediaCard .info .title {
  margin-top: 13px;
  font-weight: 500;
}
.mediaCard .info .originCountry {
  color: #b1acac;
}
.mediaCard .info .character {
  font-size: 0.9rem;
  color: #b1acac;
}
.mediaCard .info .rating {
  display: flex;
  align-items: center;
  color: #b1acac;
  margin-top: 5px;
}
.mediaCard .info .rating .line {
  font-weight: 500;
  margin-right: 3px;
}
.mediaCard .info .rating span {
  margin-right: 3px;
  font-weight: 600;
}
.mediaCard .info .releaseDate small {
  font-size: 0.95rem;
}
@media (max-width: 386px) {
  .mediaCard .info {
    max-width: 150px;
  }
}
@media (max-width: 386px) {
  .mediaCard {
    width: unset;
  }
}

.trendingPersons {
  margin: 100px 0;
}
.trendingPersons h3 {
  margin-top: 70px;
  margin-bottom: 40px;
}
.trendingPersons .personCardAlice {
  width: 100%;
}
.trendingPersons .personCardAlice .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.trendingPersons .personCardAlice .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.trendingPersons .personCardAlice .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.trendingPersons .personCardAlice .image:hover {
  box-shadow: 0 5px 25px black;
}
.trendingPersons .personCardAlice .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.trendingPersons .personCardAlice p {
  margin-top: 17px;
  font-weight: 500;
}
.trendingPersons .personCardAlice small {
  color: #b1acac;
}

.alice-carousel {
  position: relative;
}
.alice-carousel .alice-carousel__stage-item {
  padding-right: 30px;
}
.alice-carousel .alice-carousel__dots {
  margin: 10px 3px 5px;
}
.alice-carousel .alice-carousel__dots .alice-carousel__dots-item.__active {
  background-color: #b460a8;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper {
  position: absolute;
  top: 27%;
  left: -50px;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item {
  transition: all 0.3s ease;
  color: #b460a8;
  font-size: 2rem;
}
.alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item:hover {
  color: #dda6d5;
}
@media (max-width: 1550px) {
  .alice-carousel .alice-carousel__prev-btn {
    display: none;
  }
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper {
  position: absolute;
  top: 27%;
  right: -50px;
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item {
  transition: all 0.3s ease;
  color: #b460a8;
  font-size: 2rem;
}
.alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item:hover {
  color: #dda6d5;
}
@media (max-width: 1550px) {
  .alice-carousel .alice-carousel__next-btn {
    display: none;
  }
}

.topRatedMovies h3 {
  margin-top: -20px;
  margin-bottom: 30px;
}

.popularTvShows h3 {
  margin-top: -20px;
}
.popularTvShows .headingRow {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popularTvShows .headingRow a {
  text-decoration: underline;
  color: #b460a8;
  margin-top: -20px;
}

.tvCard {
  width: 100%;
}
.tvCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.tvCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.tvCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.tvCard .image:hover {
  box-shadow: 0 5px 25px black;
  transform: scale(1.05);
}
.tvCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}

.watchlist h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.watchlist .empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.watchlist .empty p {
  font-weight: 600;
}
.watchlist .empty p:first-child {
  padding: 10px 0;
}

.watchedlist h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.watchedlist .empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.watchedlist .empty p {
  display: block;
  width: 100%;
  font-weight: 600;
}
.watchedlist .empty p:first-child {
  padding: 10px 0;
}

.movie .verticalLine {
  padding: 0 12px;
  font-weight: 600;
  color: #b1acac;
}
.movie .videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 580px;
  filter: brightness(85%);
  border-radius: 5px;
}
.movie .videoContainer img {
  width: 100%;
}
.movie .videoContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #b460a8;
  opacity: 0.7;
  filter: blur(0.9px);
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 382px) {
  .movie .videoContainer .playButton {
    font-size: 5rem;
    top: 45%;
  }
}
@media (max-width: 326px) {
  .movie .videoContainer .playButton {
    font-size: 5rem;
    top: 40%;
  }
}
.movie .videoContainer .playButton:hover {
  opacity: 0.9;
  filter: blur(0.65px);
}
@media (max-width: 1550px) {
  .movie .videoContainer {
    height: 520px;
  }
}
@media (max-width: 1550px) {
  .movie .videoContainer {
    height: 520px;
  }
}
@media (max-width: 1273px) {
  .movie .videoContainer {
    height: 480px;
  }
}
@media (max-width: 1140px) {
  .movie .videoContainer {
    height: 400px;
  }
}
@media (max-width: 910px) {
  .movie .videoContainer {
    height: 300px;
  }
}
@media (max-width: 624px) {
  .movie .videoContainer {
    height: 200px;
  }
}
.movie .main .headingRow {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 12px;
}
.movie .main .headingRow .headingTitle {
  font-size: 2.3rem;
  color: #fff;
  letter-spacing: 2px;
}
.movie .main .headingRow .smallHeadingTitle {
  font-size: 2.25rem;
  color: #fff;
}
.movie .main .headingRow .adjustedMargins {
  margin-right: 20px;
}
.movie .main .headingRow .verticalLine {
  padding: 0 25px;
}
.movie .main .headingRow a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie .main .headingRow a svg {
  margin-right: 5px;
}
@media (max-width: 1010px) {
  .movie .main .headingRow {
    display: none;
  }
}
.movie .main .headingColumn {
  display: none;
}
.movie .main .headingColumn h1 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
}
@media (max-width: 1010px) {
  .movie .main .headingColumn {
    display: block;
    margin-top: 15px;
  }
}
.movie .main .details .detailRow {
  display: flex;
  align-items: center;
  color: #b1acac;
}
.movie .main .details .detailRow .rating {
  margin-right: 7px;
  font-weight: 600;
}
.movie .main .details .detailRow a {
  color: #b460a8;
}
@media (max-width: 1010px) {
  .movie .main .details .detailRow {
    display: none;
  }
}
.movie .main .details .detailRow .homepage {
  display: block;
  color: #b460a8;
  margin: 7px 0;
}
.movie .main .details .detailColumn {
  display: none;
}
.movie .main .details .detailColumn .homepage {
  display: block;
  color: #b460a8;
}
@media (max-width: 1010px) {
  .movie .main .details .detailColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    color: #b1acac;
    font-size: 1.2rem;
  }
}
.movie .main .details .description {
  margin: 60px 0;
}
.movie .main .crew h3 {
  margin: 10px 0;
}
.movie .main .crew .crewRow {
  display: flex;
}
.movie .main .crew .crewRow .crewRowItem {
  margin-right: 40px;
}
.movie .main .crew .crewRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.movie .main .crew .crewRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.movie .main .cast .headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.movie .main .cast .grid .castItem .name {
  margin-top: 13px;
}
.movie .main .cast .grid .castItem .character {
  color: #b1acac;
  font-size: 0.9rem;
}
.movie .main .recommendedMovies {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
}
.movie .main .recommendedMovies h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.movie .main .similarMovies {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 50px;
}
.movie .main .similarMovies h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}

.tv .verticalLine {
  padding: 0 12px;
  font-weight: 600;
  color: #b1acac;
}
.tv .videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 580px;
  filter: brightness(85%);
  border-radius: 5px;
}
.tv .videoContainer img {
  width: 100%;
}
.tv .videoContainer .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #b460a8;
  opacity: 0.7;
  filter: blur(0.9px);
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 382px) {
  .tv .videoContainer .playButton {
    font-size: 5rem;
    top: 45%;
  }
}
@media (max-width: 326px) {
  .tv .videoContainer .playButton {
    font-size: 5rem;
    top: 40%;
  }
}
.tv .videoContainer .playButton:hover {
  opacity: 0.9;
  filter: blur(0.65px);
}
@media (max-width: 1550px) {
  .tv .videoContainer {
    height: 520px;
  }
}
@media (max-width: 1550px) {
  .tv .videoContainer {
    height: 520px;
  }
}
@media (max-width: 1273px) {
  .tv .videoContainer {
    height: 480px;
  }
}
@media (max-width: 1140px) {
  .tv .videoContainer {
    height: 400px;
  }
}
@media (max-width: 910px) {
  .tv .videoContainer {
    height: 300px;
  }
}
@media (max-width: 624px) {
  .tv .videoContainer {
    height: 200px;
  }
}
.tv .main .headingRow {
  margin-top: 25px;
  display: flex;
  align-items: baseline;
}
.tv .main .headingRow .headingTitle {
  font-size: 2.3rem;
  color: #fff;
  letter-spacing: 2px;
}
.tv .main .headingRow .tvSeries {
  margin-left: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
.tv .main .headingRow .controlsRow {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
}
.tv .main .headingRow .controlsRow .adjustedMargins {
  margin-right: 20px;
}
.tv .main .headingRow .controlsRow .verticalLine {
  padding: 0 25px;
}
.tv .main .headingRow .controlsRow a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tv .main .headingRow .controlsRow a svg {
  margin-right: 5px;
}
@media (max-width: 1010px) {
  .tv .main .headingRow {
    display: none;
  }
}
.tv .main .headingColumn {
  display: none;
}
.tv .main .headingColumn h1 {
  margin-top: 5px;
}
.tv .main .headingColumn .tvSeries {
  margin-bottom: 20px;
}
@media (max-width: 1010px) {
  .tv .main .headingColumn {
    display: block;
  }
}
.tv .main .details {
  margin-top: -5px;
}
.tv .main .details .detailRow {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  color: #b1acac;
}
.tv .main .details .detailRow .rating {
  margin-right: 7px;
  font-weight: 600;
}
.tv .main .details .detailRow .verticalLine {
  padding: 0 12px;
  font-weight: 600;
}
.tv .main .details .detailRow a {
  color: #b460a8;
}
.tv .main .details .detailRow .whiteLabel {
  color: #fff;
}
.tv .main .details .detailRow .boldSpan {
  font-weight: 700;
}
@media (max-width: 1010px) {
  .tv .main .details .detailRow {
    display: none;
  }
}
.tv .main .details .detailColumn {
  display: none;
}
.tv .main .details .detailColumn .homepage {
  display: block;
  color: #b460a8;
  margin: 7px 0;
}
@media (max-width: 1010px) {
  .tv .main .details .detailColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    color: #b1acac;
    font-size: 1.2rem;
  }
}
.tv .main .details .description {
  margin: 70px 0;
}
.tv .main .createdBy {
  margin: 50px 0;
}
.tv .main .createdBy h3 {
  margin: 10px 0;
}
.tv .main .createdBy .createdByRow {
  display: flex;
}
.tv .main .createdBy .createdByRow .crewRowItem {
  margin-right: 40px;
}
.tv .main .createdBy .createdByRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.tv .main .createdBy .createdByRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .crew h3 {
  margin: 10px 0;
}
.tv .main .crew .crewRow {
  display: flex;
}
.tv .main .crew .crewRow .crewRowItem {
  margin-right: 40px;
}
.tv .main .crew .crewRow .crewRowItem .name {
  margin: 3px 0;
  color: #b460a8;
}
.tv .main .crew .crewRow .crewRowItem .job {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .cast .headingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.tv .main .cast .grid .castItem .name {
  margin-top: 13px;
}
.tv .main .cast .grid .castItem .character {
  color: #b1acac;
  font-size: 0.9rem;
}
.tv .main .recommendedTvs {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
}
.tv .main .recommendedTvs h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}
.tv .main .similarTvs {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 50px;
}
.tv .main .similarTvs h3 {
  margin-top: 35px;
  margin-bottom: 25px;
}

.personCard .image {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.personCard .image img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
.personCard .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border: 2.5px solid transparent;
}
.personCard .image:hover {
  box-shadow: 0 5px 25px black;
}
.personCard .image:hover .overlay {
  border: 2.5px solid rgba(180, 96, 168, 0.8);
}
.personCard .name {
  margin-top: 13px;
}
.personCard .name.bold {
  font-weight: 600;
}
.personCard .character {
  color: #b1acac;
  font-size: 0.9rem;
}

.actor {
  margin-top: 50px;
}
.actor .mainRow {
  display: flex;
}
.actor .mainRow .imageAndSocials img {
  height: 100%;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
}
@media (max-width: 430px) {
  .actor .mainRow .imageAndSocials img {
    max-width: 200px;
    max-height: 300px;
  }
}
.actor .mainRow .imageAndSocials .links svg {
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
  transition: all 0.2s ease;
}
.actor .mainRow .imageAndSocials .links svg:hover {
  color: #b460a8;
}
.actor .mainRow .imageAndSocials .links svg.disabled {
  color: #2e3d52;
}
.actor .mainRow .imageAndSocials .links .disabled:hover {
  color: #2e3d52;
  cursor: not-allowed;
}
.actor .mainRow .info {
  margin-left: 6rem;
  width: 100%;
}
.actor .mainRow .info .headingRow {
  display: flex;
  align-items: baseline;
}
.actor .mainRow .info .headingRow h1 {
  font-weight: 500;
}
.actor .mainRow .info .headingRow h2 {
  font-weight: 300;
  font-size: 1rem;
  margin-left: 10px;
}
.actor .mainRow .info .bioInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.actor .mainRow .info .bioInfo svg {
  color: #b460a8;
  margin-right: 5px;
}
.actor .mainRow .info .bioInfo p {
  color: #e2e8f0;
}
.actor .mainRow .info .biography {
  margin: 30px 0;
  line-height: 1.45rem;
}
@media (max-width: 988px) {
  .actor .mainRow .info {
    margin-top: 50px;
    margin-left: 0;
    width: 80%;
  }
}
@media (max-width: 988px) {
  .actor .mainRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.actor .knownForRow {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actor .knownForRow h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.actor .adjustedMargins {
  margin-top: 60px;
}

.controlContent {
  display: flex;
  align-items: center;
  color: #b460a8;
  cursor: pointer;
}
.controlContent p {
  font-weight: 600;
  text-decoration: underline;
}
.controlContent svg {
  font-size: 2.3rem;
}
.controlContent svg.shrink {
  transform: rotateX(180deg);
  transition: all 0.3s ease;
}
.controlContent svg.expand {
  transition: all 0.3s ease;
}

.crew {
  margin-top: 50px;
}
.crew .mainRow {
  display: flex;
}
.crew .mainRow .imageAndSocials img {
  height: 100%;
  border-radius: 5px;
  max-width: 300px;
  max-height: 450px;
}
@media (max-width: 430px) {
  .crew .mainRow .imageAndSocials img {
    max-width: 200px;
    max-height: 300px;
  }
}
.crew .mainRow .imageAndSocials .links svg {
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
  transition: all 0.2s ease;
}
.crew .mainRow .imageAndSocials .links svg:hover {
  color: #b460a8;
}
.crew .mainRow .imageAndSocials .links svg.disabled {
  color: #2e3d52;
}
.crew .mainRow .imageAndSocials .links .disabled:hover {
  color: #2e3d52;
  cursor: not-allowed;
}
.crew .mainRow .info {
  margin-left: 6rem;
  width: 100%;
}
.crew .mainRow .info h1 {
  font-weight: 500;
}
.crew .mainRow .info .bioInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.crew .mainRow .info .bioInfo svg {
  color: #b460a8;
  margin-right: 5px;
}
.crew .mainRow .info .bioInfo p {
  color: #e2e8f0;
}
.crew .mainRow .info .biography {
  margin: 30px 0;
  line-height: 1.45rem;
}
@media (max-width: 988px) {
  .crew .mainRow .info {
    margin-top: 50px;
    margin-left: 0;
    width: 80%;
  }
}
@media (max-width: 988px) {
  .crew .mainRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.crew .knownForRow {
  border: none;
  border-top: 1px solid #2e3d52;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crew .knownForRow h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.crew .adjustedMargins {
  margin-top: 60px;
}

.search {
  position: relative;
}
.search.search.active input {
  background-color: #212c3b;
}
.search input {
  width: 240px;
  padding: 7px;
  border-radius: 25px;
  background-color: #36455c;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease;
}
.search input[type=text] {
  padding-left: 35px;
  color: #e2e8f0;
  font-size: 0.9rem;
}
.search input::placeholder {
  color: #b1acac;
}
.search input:focus {
  box-shadow: 0 0 2px 2px rgba(180, 96, 168, 0.7);
}
.search input:focus svg {
  color: #e2e8f0;
}
.search svg {
  position: absolute;
  top: 5px;
  left: 8px;
  color: #b1acac;
  font-size: 1.4rem;
  transition: all 0.2s ease;
}
.search svg.active {
  color: #e2e8f0;
}
.search .spinner {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 17px;
}
.search .results {
  position: absolute;
  top: 40px;
  left: 0;
  right: -2px;
  background-color: #2e3d52;
  z-index: 10;
  border-radius: 5px;
}

.resultCard a {
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
}
.resultCard .row {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #808080;
  padding: 12px;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}
.resultCard .row img {
  border-radius: 5px;
}
.resultCard .row p {
  margin-left: 10px;
}
.resultCard .row:hover {
  background-color: #3b4b63;
}

.discoverMovies h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.nowPlayingMoviesPage h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.topRatedMovies h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.directors h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.directors .grid {
  text-align: start;
}

.actors h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}
.actors .grid {
  text-align: start;
}

.discoverTvShows h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.popularTvShowsPage h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.topRatedTvShows h3 {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 1.25rem;
}

.loginSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loginSignup .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin: 35px 0;
}
.loginSignup .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
.loginSignup .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
@keyframes easeInOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}
.loginSignup .brand:hover .icon {
  animation: easeInOut 0.6s;
}
.loginSignup .message {
  margin-bottom: 30px;
  width: 420px;
  text-align: center;
  font-weight: 500;
}
.loginSignup .card {
  border: 2px solid #2e3d52;
  min-width: 420px;
  min-height: 380px;
  border-radius: 5px;
  color: #e2e8f0;
  padding: 35px;
}
.loginSignup .card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 35px;
  text-align: center;
}
.loginSignup .card .inputGroup {
  margin-bottom: 16px;
}
.loginSignup .card .inputGroup label {
  display: block;
  margin-bottom: 7px;
}
.loginSignup .card .inputGroup input {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background-color: #2e3d52;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease;
}
.loginSignup .card .inputGroup input[type=email], .loginSignup .card .inputGroup input[type=text], .loginSignup .card .inputGroup input[type=password] {
  padding-left: 9px;
  color: #e2e8f0;
  font-size: 1rem;
}
.loginSignup .card .inputGroup input::placeholder {
  color: #b1acac;
}
.loginSignup .card .inputGroup input:focus {
  background-color: #36455c;
  box-shadow: 0 0 2px 2px rgba(180, 96, 168, 0.7);
}
.loginSignup .card .inputGroup input:focus svg {
  color: #e2e8f0;
}
.loginSignup .card .formButton {
  width: 100%;
  border: none;
  background-color: #b460a8;
  cursor: pointer;
  font-weight: 600;
  margin-top: 70px;
  font-family: "Quicksand", sans-serif;
}
.loginSignup .card .formButton:hover {
  background-color: #c97cbd;
}
.loginSignup .card .forgotPasswordLink {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.loginSignup .card .forgotPasswordLink a {
  color: #b460a8;
}
.loginSignup .card .email {
  position: relative;
  margin-bottom: 35px;
}
.loginSignup .card .emailError {
  position: absolute;
  bottom: -20px;
  left: 5px;
  color: #f16c5d;
  font-size: 0.75rem;
}
.loginSignup .card .emailSuccess {
  position: absolute;
  bottom: -20px;
  left: 5px;
  color: #4caf50;
  font-size: 0.75rem;
}
.loginSignup .needAnAccount {
  margin: 20px 0;
}
.loginSignup .needAnAccount a {
  color: #b460a8;
}

.profile {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.profile .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin: 35px 0;
}
.profile .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
.profile .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
.profile .message {
  margin-bottom: 30px;
  width: 420px;
  text-align: center;
  font-weight: 500;
}
.profile .card {
  border: 2px solid #2e3d52;
  min-width: 420px;
  min-height: 380px;
  border-radius: 5px;
  color: #e2e8f0;
  padding: 35px;
}
.profile .card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 35px;
  text-align: center;
}
.profile .card .inputGroup {
  margin-bottom: 16px;
}
.profile .card .inputGroup label {
  display: block;
  margin-bottom: 7px;
}
.profile .card .inputGroup input {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background-color: #2e3d52;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease;
}
.profile .card .inputGroup input[type=email], .profile .card .inputGroup input[type=text], .profile .card .inputGroup input[type=password] {
  padding-left: 9px;
  color: #e2e8f0;
  font-size: 1rem;
}
.profile .card .inputGroup input::placeholder {
  color: #b1acac;
}
.profile .card .inputGroup input:focus {
  background-color: #36455c;
  box-shadow: 0 0 2px 2px rgba(180, 96, 168, 0.7);
}
.profile .card .inputGroup input:focus svg {
  color: #e2e8f0;
}
.profile .card .formButton {
  width: 100%;
  border: none;
  background-color: #b460a8;
  cursor: pointer;
  font-weight: 600;
  margin-top: 70px;
  font-family: "Quicksand", sans-serif;
}
.profile .card .formButton:hover {
  background-color: #c97cbd;
}
.profile .card .forgotPassword {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.profile .card .forgotPassword a {
  color: #b460a8;
}
.profile .needAnAccount {
  margin: 20px 0;
}
.profile .needAnAccount a {
  color: #b460a8;
}

.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.forgotPassword .brand {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin: 35px 0;
}
.forgotPassword .brand .icon {
  font-size: 3rem;
  color: #b460a8;
}
.forgotPassword .brand h1 {
  margin-left: 5px;
  font-weight: 600;
}
@keyframes easeInOut {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0px);
  }
}
.forgotPassword .brand:hover .icon {
  animation: easeInOut 0.6s;
}
.forgotPassword .message {
  margin-bottom: 30px;
  width: 420px;
  text-align: center;
  font-weight: 500;
}
.forgotPassword .card {
  border: 2px solid #2e3d52;
  min-width: 420px;
  border-radius: 5px;
  color: #e2e8f0;
  padding: 35px;
}
.forgotPassword .card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 35px;
  text-align: center;
}
.forgotPassword .card .inputGroup {
  margin-top: 50px;
  margin-bottom: 16px;
}
.forgotPassword .card .inputGroup label {
  display: block;
  margin-bottom: 7px;
}
.forgotPassword .card .inputGroup input {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background-color: #2e3d52;
  outline: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease;
}
.forgotPassword .card .inputGroup input[type=email], .forgotPassword .card .inputGroup input[type=text], .forgotPassword .card .inputGroup input[type=password] {
  padding-left: 9px;
  color: #e2e8f0;
  font-size: 1rem;
}
.forgotPassword .card .inputGroup input::placeholder {
  color: #b1acac;
}
.forgotPassword .card .inputGroup input:focus {
  background-color: #36455c;
  box-shadow: 0 0 2px 2px rgba(180, 96, 168, 0.7);
}
.forgotPassword .card .inputGroup input:focus svg {
  color: #e2e8f0;
}
.forgotPassword .card .formButton {
  width: 100%;
  border: none;
  background-color: #b460a8;
  cursor: pointer;
  font-weight: 600;
  margin-top: 70px;
  font-family: "Quicksand", sans-serif;
}
.forgotPassword .card .formButton:hover {
  background-color: #c97cbd;
}
.forgotPassword .card .forgotPassword {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.forgotPassword .card .forgotPassword a {
  color: #b460a8;
}
.forgotPassword .needAnAccount {
  margin: 20px 0;
}
.forgotPassword .needAnAccount a {
  color: #b460a8;
}

.Toastify__toast--default .Toastify__toast-body {
  color: #1c212a;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.Toastify__toast--default .Toastify__progress-bar--default {
  background: #b460a8;
}

.Toastify__toast--error .Toastify__toast-body {
  color: #e2e8f0;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.Toastify__toast--error .Toastify__progress-bar--error {
  background: #e2e8f0;
}

footer {
  margin-top: 120px;
  padding: 60px;
  border: none;
  border-top: 1px solid #2e3d52;
  max-height: 147px;
}
footer p {
  width: 100%;
}
footer p a {
  color: #b460a8;
}

/*# sourceMappingURL=style.css.map */
