.header {
    padding: 50px 0;

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        .brand {
            text-decoration: none;
            color: $white;
            display: flex;
            align-items: center;
            font-size: 1rem;

            .icon {
                font-size: 3rem;
                color: $pink;
                // color: #171d27;
            }

            h1 {
                margin-left: 5px;
                font-weight: 600;
            }

            @mixin animationHeader($from, $to, $name) {
                @keyframes #{$name} {
                    0% {
                        transform: translateX($from);
                    }
                    50% {
                        transform: translateX($to);
                    }
                    100% {
                        transform: translateX($from);
                    }
                }
            }

            @include animationHeader(0px, 6px, easeInOut);

            &:hover {
                .icon {
                    animation: easeInOut 0.6s;
                }
            }
        }

        // .brand:hover {
        //     color: $pink;
        // }

        .links {
            display: flex;
            align-items: center;

            li {
                list-style: none;
                margin-left: 45px;

                a {
                    text-decoration: none;
                    color: $white;
                    transition: all 0.3s ease;
                }

                a:hover {
                    color: $pink;
                }

                .menuItem {
                    position: relative;

                    .fakeLink {
                        text-decoration: none;
                        color: $white;
                        // margin-left: 45px;
                        transition: all 0.3s ease;
                        cursor: pointer;
                    }

                    .fakeLink:hover {
                        color: $pink;
                    }

                    .dropdown {
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s;
                        z-index: 10;
                        background-color: $strongGrey;
                        top: 30px;
                        // left: 45px;
                        width: 180px;
                        display: flex;
                        flex-direction: column;
                        border-top: 1px solid $pink;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        font-size: 0.95rem;

                        a:first-child {
                            margin-top: 10px;
                        }

                        a {
                            padding: 10px 15px;
                        }

                        a:hover {
                            background-color: $grey;
                        }
                    }

                    .dropdown.castCrew {
                        width: 165px;
                    }

                    &:hover .dropdown {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.watchlist,
                &.watchedlist {
                    position: relative;
                    z-index: 10;

                    .count {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 12px;
                        right: -12px;
                        background-color: $pink;
                        width: 17px;
                        height: 17px;
                        font-weight: 700;
                        border-radius: 50%;
                        z-index: 1;

                        .value {
                            color: $creamWhite;
                            font-size: 0.7rem;
                        }
                    }
                }
            }

            .search {
                margin-left: 18px;
            }

            .account {
                position: relative;

                .noSelect {
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .circle {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    color: $grey;
                    background-color: $creamWhite;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $pink;
                        background-color: #c5cacf;
                    }
                }

                .profileMenu {
                    position: absolute;
                    top: 55px;
                    right: 2px;
                    // border: 1px solid $grey;
                    width: 240px;
                    color: $creamWhite;
                    background-color: $backgroundGrey;
                    z-index: 10;

                    .spike {
                        position: absolute;
                        right: 7px;
                        top: -10px;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $backgroundGrey;
                    }

                    .infoRow {
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        border-bottom: 1px solid $grey;

                        .circle {
                            position: relative;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 43px;
                            height: 43px;
                            border-radius: 50%;
                            color: $creamWhite;
                            background-color: $grey;
                            font-weight: 500;
                        }

                        .info {
                            margin-left: 15px;
                            font-size: 0.85rem;

                            .smallFont {
                                font-size: 0.75rem;
                            }
                        }
                    }

                    .options {
                        .option {
                            padding: 10px 15px;
                            cursor: pointer;
                            font-size: 0.95rem;
                            transition: all 0.3s ease;

                            &:nth-child(1) {
                                margin-top: 10px;
                            }

                            display: flex;
                            align-items: center;
                            width: 100%;

                            svg {
                                margin-right: 8px;
                            }

                            &:hover {
                                color: $pink;
                                background-color: $grey;
                            }
                        }
                    }
                }

                .noDisplay {
                    display: none;
                }
            }
        }
    }
}
